---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<a href="/" class="inline-block">
  <img
    src="/images/logo.png"
    class={`h-[100px] ${className ?? ""}`}
    loading="lazy"
  />
</a>
