---
import ImageMod from "@/components/ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";

type Props = {
  content: CollectionEntry<"projects">;
};

const { content } = Astro.props;
const { image, title, category } = content.data;
---

<div class="relative overflow-hidden">
  <div>
    {
      image && (
        <ImageMod
          src={image}
          width={460}
          height={460}
          class="w-full"
          alt={title || "project image"}
        />
      )
    }
  </div>
</div> 
