---
import ImageMod from "@/components/ImageMod.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="max-h-[800px] overflow-hidden">
    <ImageMod
      src="/images/background/404-page.jpg"
      width={1920}
      height={1080}
      class="object-cover"
      alt="404 error image"
    />
  </section>
</Base>
